* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 1.8rem;
}

.container {
  width: 800px;
  background-color: #ddd;
  margin: 50px auto 0;
  /* border: 2px solid; */

  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  justify-content: center;

  /* justify-content: space-between; */
  /* gap: 10px; */
  /* 
  flex-wrap: wrap;
    
  
  */
}

.flex {
  /* align-content: normal; */
  /* align-self: normal; */
  /* flex: 0 0 200px; */
  flex-grow: 1;
  /* flex-basis: 100px; */
  /* flex: 0 1 100px; */
}

.flex-1 {
  background-color: blueviolet;
  /* font-size: 2.2rem; */
  /* align-self: normal; */
}
.flex-2 {
  background-color: crimson;
}
.flex-3 {
  background-color: green;
  /* font-size: 3.8rem; */
  height: 150px;
  /* flex-grow: 2; */
}
.flex-4 {
  background-color: #d38407;
}
.flex-5 {
  background-color: pink;
}
.flex-6 {
  background-color: #6049f9;
}
.flex-7 {
  background-color: yellow;
}
.flex-8 {
  background-color: tomato;
}
.flex-9 {
  background-color: blueviolet;
  /* font-size: 2.2rem; */
  /* align-self: normal; */
}
.flex-10 {
  background-color: crimson;
}
.flex-11 {
  background-color: green;
  /* font-size: 3.8rem; */
  height: 150px;
  flex-grow: 2;
}
.flex-12 {
  background-color: #d38407;
}
.flex-13 {
  background-color: pink;
}
.flex-14 {
  background-color: #6049f9;
}
.flex-15 {
  background-color: yellow;
}
.flex-16 {
  background-color: tomato;
}
