* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-size: 1.8rem;
}

.container__1,
.container__2 {
  margin: 50px auto;
}

.container__1 {
  width: 800px;
  background-color: #ddd;

  /* border: 2px solid; */
}

.container__2 {
  width: 700px;
}

.grid-1 {
  background-color: blueviolet;
  font-size: 2.2rem;
  /* align-self: normal; */
}
.grid-2 {
  background-color: crimson;
}
.grid-3 {
  background-color: green;
  /* height: 150px; */
}
.grid-4 {
  background-color: #d38407;
}
.grid-5 {
  background-color: pink;
}
.grid-6 {
  background-color: #6049f9;
}
.grid-7 {
  background-color: yellow;
}
.grid-8 {
  background-color: tomato;
}

.grid-9 {
  background-color: brown;
}

/* CSS Grid Layout */

.container__1 {
  display: grid;
  /* grid-template-columns: repeat(2, auto 1fr); */
  grid-template-columns: repeat(2, auto 150px);

  /* auto နဲ့ 1fr တွဲပေးရင် auto က content width အတိုင်းပဲယူသွားပီး 1fr က ပိုယူသွားတယ်။ auto နဲ့ px တွဲပေးရင်တော့ auto က နေရာပိုယူသွားပါတယ် */

  grid-template-rows: 200px 100px;
  /* gap: 10px; */
  column-gap: 20px;
  row-gap: 30px;
}
/*
.container__2 {
  background-color: 60rem;
  background-color: #222;
  height: 500px;

  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: 100px 100px;

  justify-content: center;
  justify-content: space-around;
  align-content: center;
  align-content: space-around;
}
*/

/* .grid-4 {
  height: 50px;
} */

.container__2 {
  background-color: #333;
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  gap: 10px;
}

.grid-9 {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-5 {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-7 {
  grid-row: span 2;
}
