/*

--- 01 TYPOGRAPHY SYSTEM

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700


- Line height
Default: 1
Small : 1.05
medium: 1.2
Paragraph Default 1.6

- Letter Spacing
-0.5px
0.75px

--- 02 COLORs

- Primary: #e67e22;
- Tints: #fdf2e9; #fae5d3; #eb984e;
- Shades: #cf711f;
- Accents: 
- Greys: #555, #333, #888, #6f6f6f


--- IMAGES

- unsplash.com
- uifaces.co


--- 04 SHADOWs

--- 05 BORDER-RADIUS
Default 9px
11px

--- 06 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

:root {
  --primary-color: #e67e22;
  --tint-color: #fdf2e9;
  --tint-color-2: #fae5d3;
  --shade-color: #cf711f;

  --accent-color-1: #51cf66;

  --white-color: #fff;
  --white-light: #eee;

  /* --grey-1: #45260a; */
  --grey-1: #333;
  --grey-2: #555;
  --grey-3: #888;
  --grey-4: #6f6f6f;
}

/* ************************ */
/* GLOBLE RESET */
/* ************************ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  /* outline: 4px dotted;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

html {
  /* font-size: 10px; */

  /* 10px လို့ သတ်မှတ်တာက ကောင်းပေမဲ့ User က browser ကနေ font size ကို ကြီးစေလိုတဲ့အခါ အလုပ်ဖိမှာမဟုတ်ဘူး ဒါကြောင့် px အစား percentage ကို သုံးသင့်ပါတယ်။ */

  /* Percentage of User's browser font-size setting */
  font-size: 62.5%; /* 10/16 = 0.625 = 62.5% */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 400;
  color: #555;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

/* ************************ */
/* LAYOUT SYSTEM */
/* ************************ */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.d-grid {
  display: grid;
  gap: 9.6rem 6.4rem;
}

/* .d-grid:last-child {
  margin-bottom: 0;
} */

.d-grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--center-v {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

/* ************************ */
/* GENERAL REUSABLE COMPONENTs */
/* ************************ */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  letter-spacing: -0.5px;
  font-weight: 700;
  color: var(--grey-1);
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: var(--shade-color);
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 0.9rem;

  /* Only necessary for btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--shade-color);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: var(--white-color);
  color: var(--grey-2);
  /* border: 3px solid transparent; */
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--tint-color);
  /* border: 3px solid var(--white-color); */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px var(--white-color);
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.text-center {
  text-align: center;
}
