/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* ------------------------ */
/* FONT INSTALLATION */
/* ------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

:root {
  --primary_color: #087f5b;
  --txt_color: #343a40;
  --light_grey: #adb5bd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--txt_color);
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 400;
}

img {
  width: 20rem;
}

.container {
  max-width: 90rem;
  margin: 10rem auto;
}

.carousel-container {
  padding: 5.2rem 4.4rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
}

/* ------------------------ */
/* CAROUSEL SECTION */
/* ------------------------ */

.carousel-box {
  background-color: var(--primary_color);
  border-radius: 0.8rem;
  padding: 3.2rem 4.8rem 3.2rem 8.6rem;
  box-shadow: none;

  display: flex;
  align-items: center;
  gap: 8.6rem;

  position: relative;
}

.carousel-img {
  height: 20rem;
  transform: scale(1.5);
  border-radius: 0.8rem;
  object-fit: cover;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.25);
}

.testimonial {
  color: #efefef;
}

.testimonial-txt {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.testimonial-author {
  color: #dee2e6;
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.testimonial-job {
  font-size: 1.2rem;
  /* font-style: italic; */
  color: #ced4da;
}

/* ------------------------ */
/* CAROUSEL BUTTONs */
/* ------------------------ */

.btn {
  width: 4rem;
  height: 4rem;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
}

.btn-left {
  left: 0;
  transform: translate(-55%, -50%);
}
.btn-right {
  right: 0;
  transform: translate(55%, -50%);
}

.arrow {
  width: 2.4rem;
  height: 2.4rem;

  stroke-width: 3;
  stroke: var(--primary_color);
}

/* ------------------------ */
/* CAROUSEL DOTs */
/* ------------------------ */

.carousel-dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 3.2rem);

  display: flex;
  gap: 1.2rem;
}

.carousel-dot {
  border: 2px solid var(--primary_color);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  cursor: pointer;
}

/* ------------------------ */
/* ACTIVE DOTs */
/* ------------------------ */

.dot-fill {
  background-color: var(--primary_color);
}
