/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* ------------------------ */
/* FONT INSTALLATION */
/* ------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

:root {
  --primary_color: #087f5b;
  --txt_color: #343a40;
  --light_grey: #adb5bd;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--txt_color);
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 600;
}

ul {
  list-style-position: inside;
}

main {
  width: 70rem;
  margin: 10rem auto;
}

/* ------------------------ */
/* ACCORDION SECTION */
/* ------------------------ */

.accordion {
  display: grid;
  gap: 2.4rem;
}

.accordion-item {
  padding: 2.4rem;
  background-color: #fff;
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.07);

  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 3.2rem 2.4rem;
}

/* ------------------------ */
/* ACCORDION HEADER */
/* ------------------------ */

.accordion-number,
.accordion-text,
.accordion-icon {
  font-size: 2.4rem;
  /* padding: 1.8rem 0; */
}

.accordion-number {
  color: var(--light_grey);
}

.accordion-text {
  font-weight: 500;
  color: var(--txt_color);
}

.accordion-icon {
  width: 2.4rem;
  color: var(--primary_color);
  cursor: pointer;
}

/* ------------------------ */
/* ACCORDION BODY */
/* ------------------------ */

.hidden-box {
  grid-area: 2/ 2/ 3/ 3;
  display: none;
}

.hidden-txt {
  margin-bottom: 2.4rem;
  font-size: 1.7rem;
  /* color: #8c8787; */
  color: #616161;
  line-height: 1.6;
}

.hidden-list {
  color: var(--light_grey);

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* ------------------------ */
/* ACTIVE MODE */
/* ------------------------ */

.active {
  border-top: 0.5rem solid var(--primary_color);
}

.active .accordion-number,
.active .accordion-text {
  color: var(--primary_color);
}

.active .hidden-box {
  display: block;
}
